<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav id='menu'>
     <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
     </nav> 
    <h1>Welcome To the API Video Game Library</h1>
    <form action="login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        
        <input type="submit" value="Login">
        
       
        
        
    </form>
    
    <div style="text-align: center;">
            <h2>Don't Have an account? </h2>
                <a href="/user/register" type="submit">
                    
                    <button>Register Now!</button>
                </a>
            </div>
</body>
</html>
